<div class="main-content">
    <h1><%= title %></h1>
    <div class="content">    
        <form id="loginForm" action="/account/register" method="post">
            <div class="account-firstName">
                <label for="account_firstname">Email:</label>
                <br>
                <input type="text" id="account_firstname" name="account_firstname"/>
            </div>
            <div class="account-lastname">
                <label for="account-lastname">Last Name:</label>
                <br>
                <input type="text" id="account_lastname" name="account_lastname"/>
            </div>
            <div class="account-email">
                <label for="account_email">Email:</label>
                <br>
                <input type="email" id="account_email" name="account_email"/>
            </div>
            <div class="account-password">
                <label for="account_password">Password:</label>
                <br>
                <!-- 
                    12 characters in length, minimum
                    contain at least 1 capital letter
                    contain at least 1 number
                    contain at least 1 special character
                -->
                <input type="password" id="account_password" name="account_password" required placeholder="See core requirements"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"/>
            </div>
            
            <input type="submit" name="btn_login" id="btn_login" value="Register"/>
        </form>

    </div>
</div>