

#top-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.siteName{
  justify-content: left;
  font-size: 2rem;
}

.siteName a{
  text-decoration: none;
  color: black;
}

#tools a{
  text-decoration: none;
  color: black;
}

/* Code for the whole page */
html{
  box-sizing: border-box;
}
 
*, *:before, *:after{
  box-sizing: inherit;
}

body {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.5em;
  background-image: url("../images/site/checkerboard.jpg"); 
}

#wrapper {
  max-width: 100%;
  background-color: #ffffff;
}

/* Code for the header */
header {
  padding: 20px;
}

header img {
  display: block;
  float: left;
}

header p {
  float: right;
}

.name-label {
  font-size: 0.6em;
  clear: both;
  float: right;
}

/* Code for the navigation */
nav {
  clear: both;
  font-size: 0.9rem;
  
}

nav ul {
  display: flex;
  justify-content: space-between;
  background-color: #3a3a3a;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline;
}

nav li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #4c96d7;
  color: #3a3a3a;
}

/* Code for main */
main {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.box1 {
  grid-column: 1 / span 2;
  width: 100%;
  background-image: url("../images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#inv-details p span{
  font-weight: bold;
}

.divdetail{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#inv-details{
  width: 80%;
}

#inv-single{
  width: 100%;
  padding-right: 10px;
}


.container p{
  padding: 10px;
  background-color: rgba(185, 192, 194, 0.5); /* 50% transparente */
}

.box2{
  grid-row: 2;
  grid-column: 2;
}

.box3{
  grid-row: 2;
  grid-column: 1;
}


main img {
  max-width: 100%;
}

.container {
  position: relative;
}

.container h2 {
  color: #4c96d7;
}

.container p {
  color: #4c96d7;
}

.button {
  padding: 10px;
  text-align: center;
  max-width: 80%;
  color: #ffffff;
  background-color: #4c96d7;
  text-decoration: none;
}

.upgrade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 95%;
}

.upgrade a {
  background-color: white;
}

.item {
  text-align: center;
  color: #ffffff;
  background-color: #4c96d7;
  border: #3a3a3a solid 2px;
}

.item img {
  display: block;
  margin: 0 auto;
}

#pass-label {
  color: red;
  font-size: 0.5em;
}

.reviews p {
  border: black solid 2px;
  margin-top: 10px;
}

/* Code for the footer */
footer {
  text-align: center;
  font-size: 0.5em;
  border-top: solid 5px #3a3a3a;
  padding-bottom: 20px;
  clear: both;
}

#inv-display{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
 
#inv-display li{
  margin-bottom: .5em;
  border: 1px #ccc solid;
  list-style-type: none;
  flex: 1 1 auto;
}
 
#inv-display li img {
  max-width: 100%;
}

.notice{
  color: red; 
}

.main-content{
  background-color: rgb(184, 250, 255);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.content label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
}

.account-email input, .account-password input, .account-firstName input, .account-lastName input, #classification_name, .formInventory input{
  width: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.account-password p{
  color: white;
  font-size: 0.8em;
  font-style: italic;
}

input:required:invalid, input:focus:invalid {
  background-color: rgb(243, 189, 189);
 }
  input:required:valid {
  background-color: rgb(241, 255, 241);
  }

.content{
  background-color: #00213e;
  padding: 20px;
  border-radius: 10px;
}

.content a{
  color: white;
}

#loginForm{
  margin: 20px;
}

#btn_login {
  background: #cbe8ff;
  color: black;
  border: 1px solid #eee;
  border-radius: 20px;
  text-shadow: none;
  width: 10em;
  font-weight: bold;
  }
  #btn_login:hover {
  text-shadow: none;
  cursor: pointer;
  }

  #spanBtn {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 2px;
    margin-top: 1em;
    font-size: small;
    width: 7em;
    text-align: center;
    color: white;
  }

  .btn_add_cla {
    background: #cbe8ff;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;                                            
    text-shadow: none;
    width: 10em;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    }
    #btn_add_cla:hover {
    text-shadow: none;
    cursor: pointer;
    }
  
    .btn_add_cla {
      border: 2px solid #000;
      border-radius: 5px;
      padding: 2px;
      margin-top: 1em;
      font-size: small;
      width: 7em;
      text-align: center; 
    }

  .divlinks{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  #addClassificationForm{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px;

  }

  #contAddCla{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }

  .cla-page{
    display: flex;
    flex-direction: column;
    grid-row-end: 3;
    grid-row-start: 1;
  }

  .formInventory p{
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;

  }

/* Tablet Size viewports */
@media only screen and (min-width: 37em) {

  #wrapper {
      width: 95%;
      border: #4c96d7 solid 5px;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 20px;
  }

  nav {
      font-size: 1em;
  }

  .container h2 {
      position: absolute;
      top: -28px;
      left: 10px;
  }
  
  .container p {
      position: absolute;
      top: 12px;
      left: 10px;
  }

  .button {
      position: absolute;
      top: 130px;
      left: 10px;
      width: 150px;
  }

  footer {
      font-size: 0.6em;
  }

}


@media only screen and (max-width: 800px) {
  
  main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
  }

  nav {
    font-size: 0.7rem;
    padding: 2px;
  }


  .box1{
    grid-row: 1;
    grid-column: 1;
    background-size: 60%;
  }

  .box2{
    grid-row: 3;
    grid-column: 1;
  }

  .box3{
    grid-row: 2;
    grid-column: 1;
  }

  nav li a{
    padding: 5px;
  }

.divdetail{
  flex-direction: column;
  
}

}

/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {


  #wrapper {
      width: 80%;
  }

  nav {
      font-size: 1.5rem;
  }

  footer {
      font-size: 0.8em;
  }

  /* For vehicle display in classification view */
#inv-display {
  flex-flow: row wrap;
  justify-content: flex-start;
}

#inv-display h2{
  font-size: 1rem;
}

#inv-display li {
  max-width: 200px;
  flex: 1 0 auto;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
    
#inv-display div {
  width: 100%;
}

}

